<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Select Dish to Chef</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        div {
            display: block;
            margin-bottom: 5px;
        }
        input{
            padding: 10px 15px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<header>
    <h1>Select the Dish to add to the Chef</h1>
</header>
<section>
    <h2>Select dish:</h2>
    <form action="/dishes/select" method="POST">
        <input type="hidden" name="chefId" th:value="${chefId}">

        <div th:each="dish : ${dishes}">
            <label>
                <input type="radio" name="dishId" th:value="${dish.dishId}" required/>
                <span th:text="${dish.name} + ' (' + ${dish.cuisine} + ')'">Dish Name (Cuisine)</span>
            </label>
            <br/>
        </div>

        <br/>
        <input type="submit" value="Add dish">
    </form>
</section>
<aside>
    <table>
        <tr>
            <td><b>Chef Name</b></td>
            <td th:text="${chefName}"></td>
        </tr>
    </table>
</aside>
</body>
</html>
-->